<div layout="column" layout-padding ng-cloak>

    <md-nav-bar md-selected-nav-item="$ctrl.tabIndex">
        <md-nav-item md-nav-click="goto('playlists')" name="playlists">Playlists</md-nav-item>
        <md-nav-item md-nav-click="goto('localfiles')" name="localfiles">Local files</md-nav-item>
    </md-nav-bar>

    <div layout="column" layout-padding ng-if="$ctrl.tabIndex=='playlists'">
        <config-button
            cl-title="Create new playlist" cl-btn-label="Create playlist" cl-btn-icon="playlist-plus"
            cl-click="$ctrl.openPlaylistDialog()" cl-disabled="!$ctrl.files.length"
        ></config-button>

        <config-section cl-title="Playlists"></config-section>
        <config-list
            cl-items="$ctrl.playlists" cl-empty="No playlist created"
        ></config-list>
    </div>

    <div layout="column" layout-padding ng-if="$ctrl.tabIndex=='localfiles'">
        <config-file
            cl-title="Upload music file"
            cl-meta="{tanguy: 'pouet'}"
            cl-click="$ctrl.addMusicFile(file, tanguy)" cl-btn-label="Add music file"
        ></config-file>

        <config-section cl-title="Music files"></config-section>
        <config-list
            cl-items="$ctrl.files" cl-empty="No music file"
        ></config-list>
    </div>

</div>

