<md-dialog aria-label="Add sensor dialog" flex="75">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Playlist</h2>
                <span flex></span>
                <md-button class="cl-icon-button" ng-click="$ctrl.cancelDialog()" aria-label="Close dialog">
                    <cl-icon cl-icon="close"></cl-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content class="md-dialog-content dialog-content" layout="column" layout-align="start stretch">
            <config-text
                cl-title="Playlist name" cl-model="$ctrl.playlistName" cl-placeholder="playlist name"
            ></config-text>
            <config-comment
                cl-title="Playlist tracks" cl-subtitle="Compose your playlist picking on available files"
            ></config-comment>
            <div layout="row" layout-align="center stretch">
                <md-list class="track-list" flex="50" style="border-right: 1px solid lightgray;">
                    <md-subheader class="list-subheader">
                        <p>Available files</p>
                    </md-subheader>
                    <md-list-item ng-repeat="file in $ctrl.availableFiles" ng-click="$ctrl.moveRight(file)">
                        <p>{{ file.title }}</p>
                        <md-button class="md-primary cl-button-sm" ng-click="$ctrl.moveRight(file)">
                            <cl-icon cl-icon="arrow-right-bold"></cl-icon>
                        </md-button>
                    </md-list-item>
                </md-list>
                <md-list class="track-list" flex="50">
                    <md-subheader class="list-subheader">
                        <p>Playlist files</p>
                    </md-subheader>
                    <md-list-item ng-repeat="track in $ctrl.playlistTracks" ng-click="$ctrl.moveLeft(track)">
                        <md-button class="md-primary cl-button-sm" ng-click="$ctrl.moveLeft(track)">
                            <cl-icon cl-icon="arrow-left-bold"></cl-icon>
                        </md-button>
                        <p>{{ track.title }}</p>
                        <md-button class="md-primary cl-button-sm" ng-disabled="$last" ng-click="$ctrl.moveDown(track)">
                            <cl-icon cl-icon="arrow-down-bold"></cl-icon>
                        </md-button>
                        <md-button class="md-primary cl-button-sm" ng-disabled="$first" ng-click="$ctrl.moveUp(track)">
                            <cl-icon cl-icon="arrow-up-bold"></cl-icon>
                        </md-button>
                    </md-list-item>
                </md-list>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="$ctrl.addPlaylist()" ng-if="!$ctrl.playlistUpdate">
                <cl-icon cl-icon="content-save"></cl-icon>
                Create playlist
            </md-button>
            <md-button ng-click="$ctrl.updatePlaylist()" ng-if="$ctrl.playlistUpdate">
                <cl-icon cl-icon="content-save"></cl-icon>
                Update playlist
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
